body{
    background-color: aqua;
    margin: 0;
    padding: 0;
 }
 .header{
    display: flex;
    justify-content: center;
    align-items: center;
 }
.header h1{
    display: flex;
    margin: 5rem 0 2rem 0;
   color: rgb(82, 82, 190);
}
 .container{
    display: flex;
    justify-content: center;
 }
.container div{
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 7.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
a{
    text-decoration: none;
    padding-top: 20px;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: black;
}